@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2"), url("fonts/pt-sans-narrow-bold.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  line-height: 27px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #f8f5f2;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2"), url("fonts/pt-sans-narrow-bold.woff") format("woff");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2"), url("fonts/pt-sans-narrow-bold.woff") format("woff");
}
.page-header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: #ffffff;
}

.page-header__logo {
  height: 85px;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

@media (min-width: 768px) {
  .page-header__logo {
    order: 2;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
  }
}
.stats {
  background-color: #292929;
  color: #ffffff;
}

@media (min-width: 768px) {
  .stats__wrapper {
    padding: 0 64px;
  }
}
@media (min-width: 1200px) {
  .stats__wrapper {
    max-width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

/*.stats {
  @media (min-width: $tablet-width) {
    padding: 0 64px;
  }
}

.stats {
  @media (min-width: $desktop-width) {
    max-width: 960px;
    margin: auto;
  }
}*/
.stats__header {
  outline: 5px solid rgba(255, 0, 0, 0.5);
  outline-offset: -5px;
  background-color: #ffffff;
  color: #000000;
}

.stats__list {
  outline: 5px solid rgba(0, 255, 0, 0.5);
  outline-offset: -5px;
}

.stats__slogan {
  margin: 0;
}

.stats__intro {
  margin: 0;
}

.stats__legends {
  margin: 0;
}

@media (max-width: 767px) {
  .stats__legends--top {
    display: none;
  }
}

@media (min-width: 768px) {
  .stats__legend--bottom {
    display: none;
  }
}

.stats__list {
  outline: 5px solid rgba(0, 255, 0, 0.5);
  outline-offset: -5px;
  margin: 0;
}

.main-nav {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -3px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  color: #ffffff;
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}
.main-nav__toggle {
  display: none;
}

.site-list {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

@media (min-width: 768px) {
  .site-list {
    width: 570px;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }
}
.user-list {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
}