// $import("global/variables.scss");

//colors:

$darkgray: #292929;
$lightgray: #f8f5f2;

//Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

//$import("global/fonts.scss");
@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: 
    url("fonts/pt-sans-narrow-bold.woff2") format("woff2"),
    url("fonts/pt-sans-narrow-bold.woff") format("woff");
}

// $inport("global/global.scss");

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// @import("blocks/page.scss");

.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  line-height: 27px;
}


.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $lightgray;
}
//@import('global/fonts.scss');

@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
      url("fonts/pt-sans-narrow-bold.woff2") format("woff2"),
      url("fonts/pt-sans-narrow-bold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
      url("fonts/pt-sans-narrow-bold.woff2") format("woff2"),
      url("fonts/pt-sans-narrow-bold.woff") format("woff");
}

//@import("blocks/page-header.scss");

.page-header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: #ffffff;

  outline: 5px solid rgba(0, 0, 255, 0.8);
  outline-offset: -5px;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: #000000;
  }
}

.page-header__logo {
  height: 85px;
  text-align: center;

  outline-offset: -5px;

}
@media (min-width: $tablet-width) {
  .page-header__logo {
    order: 2;
    height: 400px;
    background-color: #000000;
    background-image: url("../img/bg-header.png");
    background-repeat: no-repeat;
    background-position: center -9px;
  }
}
@media (min-width: $desktop-width) {
  .page-header__logo {
  height: 648px;
  background-position: center 0;
  background-size: cover;
  }
}

.page-header__logo img {
  width: 226px;
  height: 85px;
}

@media (min-width: $desktop-width) {
  .page-header__logo img{
    margin-top: 57px;
  }
}
//@import("blocks/stats.scss");

.stats {
  background-color: $darkgray;
  color: #ffffff;
}

.stats__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 64px;
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
/*.stats {
  @media (min-width: $tablet-width) {
    padding: 0 64px;
  }
}

.stats {
  @media (min-width: $desktop-width) {
    max-width: 960px;
    margin: auto;
  }
}*/

.stats__header {

  background-color: #ffffff;
  color: #000000;
}
.stats__list {

}
.stats__slogan {
  margin: 0;
}

.stats__intro {
  margin: 0;
}

.stats__legends {
  margin: 0;
}

.stats__legends--top {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.stats__legend--bottom {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.stats__list {
  // outline: 5px solid rgba(0, 255, 0, 0.5);
  // outline-offset: -5px;

  margin: 0;
}
//@import("blocks/main-nav.scss");

.main-nav {
  position: relative;
  width:auto;
  min-height: 51px;
  background-color: #826550;

  @media (min-width: $tablet-width) {
    background-color: #000000;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: 0;

  &:hover,
  &:active {
    background-color: #624530;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 1), 0 16px 0 0 rgba(255, 255, 255, 1);
  // @media (max-width: $mobile-width-only) {    
  //     display: none;    
  // }
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 1), 0 16px 0 0 rgba(255, 255, 255, 1);
}

.main-nav--closed .site-list__item {
  @media (max-width: $mobile-width-only) {
    display: none;
    &--active {
      display: block;
    }
  }
}
//changed by myself
.main-nav--closed .site-list__item--active a {
  @media (max-width: $mobile-width-only) {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
  }
}
.main-nav--closed .user-list__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 70px;
  z-index: 10;
  min-height: 80vh;
  background-color: #6a4d38;
}

.main-nav--opened .main-nav__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 7px;
  height: 100%;
  box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4)
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--nojs .site-list__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}

.main-nav--nojs .site-list__item {
  display: block;
  background-color: #6a4d38;

}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

&::before,
&::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}

&::before {
  transform: rotate(45deg);
}

&::after {
  transform: rotate(-45deg);
}

&:active::before,
&:active::after {
  background-color:rgba(255, 255, 255, 1);
}
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__list a {
  color: #ffffff;
}

@media(min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
}
@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 960px;
  }
}

//@import("blocks/site-list.scss");

.site-list {
  font-weight: bold;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 570px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.site-list__item {
  @media (min-width: $tablet-width) {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 3px;
      background: #826550;

    }
    }
  }
}

.site-list__item a[href] {
  @media (min-width: $tablet-width) {
    &:hover{
      color: #826550;

      background-color: #000000;
    }

    &:active {
      color: #ffffff;
      background-color: #000000;
      opacity: 0.3;
    }
  }
}


.site-list a {
  position: relative;
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 25px;
    padding-bottom:23px;
    background: none;
    border: none;
  }
}

//@import("blocks/user-list.scss");

.user-list {
  @media (min-width: $tablet-width) {
      width: 60px;
  }
}

.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  fill: #ffffff;
}